* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
}
/* HEADER */
header {
  position: absolute;
  z-index: 2;
  width: 100%;
}
header i {
  color: green;
  font-size: 45px;
}
header .navbar-brand {
  font-size: 36px;
}
/* #portfolio__carousel */
.carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}
.carousel-inner h5 {
  font-size: 5vw;
  line-height: 5vw;
}
.carousel-inner p {
  font-size: 3vw;
}
.carousel-caption img {
  widows: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  /* background-color: green; */
}
.carousel-indicators {
  bottom: 40px;
}
.carousel-item {
  position: relative;
  height: 100vh;
}
.carousel-item::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.497);
  top: 0;
  left: 0;
}
.carousel-indicators .active {
  background-color: green;
}
header .nav-item .nav-link {
  color: white;
  margin: 0 20px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}
header .nav-item .nav-link:hover {
  color: green;
}
.nav-item .nav-link::after {
  position: absolute;
  display: block;
  content: "";
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background: green;
  transition: 0.3s;
}

.nav-item .nav-link:hover::after {
  width: 100%;
}
.nav-item.active .nav-link {
  color: green;
}
.nav-item.active .nav-link::after {
  width: 100%;
}
/* PROJECT */
#portfolio__project .nav {
  justify-content: center;
}
#portfolio__project .card {
  overflow: hidden;
  border-radius: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#portfolio__project .nav-pills .nav-link.active {
  background-color: green;
  color: white;
  border-color: green;
}
.nav-pills .nav-link {
  border: 1px solid black;
  color: black;
  margin: 0 5px;
}
#portfolio__project .card-body {
  border: 1px solid transparent;
  border-radius: 0 0 16px 16px;
  border-top: none;
  transition: all 0.5s;
}
#portfolio__project .card:hover .card-body {
  border: 1px solid green;
  border-radius: 0 0 16px 16px;
  border-top: none;
}
#portfolio__project .card:hover .card-title {
  color: green;
}

/* breakpoint */
/* .demo__responsive {
  width: 100%;
  height: 500px;
  background: #000; */
/* } */
/* @media screen and (min-width: 768px) {
  .demo__responsive {
    background: blue;
  }
}
@media screen and (min-width: 900px) {
  .demo__responsive {
    background: red;
  }
} */
/* @media screen and (max-width: 768px) {
  .demo__responsive {
    background: blue;
  }
}
@media screen and (max-width: 992px) {
  .demo__responsive {
    background: red;
  }
} */
.project__item .card-body {
  text-align: center;
}
#portfolio__project {
  margin-bottom: 50px;
}
/* FEATURE */

.feature {
  background: url(../image/3.jpg) no-repeat center;
  background-size: cover;
  padding: 100px 0 120px;
  background-attachment: fixed;
  position: relative;
}
.overlay {
  background: rgba(7, 10, 12, 0.72);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.feature .container {
  position: relative;
}
.feature h2 {
  font-size: 36px;
  font-weight: 600;
}
.content__item {
  padding: 40px 40px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
}
.content__item:hover {
  background: #000;
}
.feature i {
  color: green;
  font-size: 48px;
}
.row h2 {
  margin: 20px 0;
}
/* AWARD */

.award__left {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(3px);
  box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
  padding: 45px 30px;
  margin: 0 45px;
}
.award__right {
  /* border: 3px solid red; */
  padding: 45px 0;
  margin: 0 -50px;
}
.award__right .row {
  justify-content: space-around;
}
.award__right .row img {
  max-width: 100%;
}
.award {
  position: relative;
  padding: 70px 0;
}
.award__bg {
  background-image: url(../image/memphis_3.png);
  background-repeat: no-repeat;
  background-size: 50% auto;
  width: 100%;
  opacity: 0.5;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
}
.award__left h2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
}
/* FOOTER */
footer {
  background: #212529;
  padding: 70px 0;
  text-align: center;
}
footer .text,
a {
  color: #aaa;
}
footer .theme i {
  border: 1px solid #454545;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
  transition: all 0.5s;
  margin-right: 10px;
}
footer .theme i:hover {
  color: green;
  border: 1px solid green;
}
footer .text {
  border-top: 1px solid #454545;
  padding-top: 30px;
  margin-top: 30px;
}
